<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    
   



<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Bug Dad's</h1>
            <br>
            <h2 class="masthead-subheading mb-0">Voted Number 1 Ticketing App</h2>
            <!-- <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Sign In</a> -->
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Section 2-->
    <div class="section2">
    <div class="container">
        <br><br><br>
        <br><br><br>
        <blockquote class="blockquote border-0 p-0">
            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>One of the best ticketing Apps I've ever used!!! A complete game changer</p>
            <footer class="blockquote-footer">John Miller
                <cite title="Source Title">IT World</cite>
            </footer>
        </blockquote>
    </div>
    </div>
    <br>
    <div class="section3">
        <div class="container">
            <div class="mobile">
            <h1>New Moblie App</h1>
            <h3>Coming Soon</h3>
        </div>
        </div>
        </div>
        <br>
    <div id="Reviews" class="container-fluid text-center">
    <h2>Reviews</h2>  
    <hr>
    <br>
    <div class="row slideanim slide">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-off logo-small"></span>
        <h4>Review 1</h4>
        <p>"platform that allows brands to create custom workflows and databases. With its tools,<br> 
            you’re able to create a truly custom CRM to meet the needs of your organization."</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>Review 2</h4>
        <p>"The tool’s app is quite friendly and easy to use, so it’s great for first-timers<br>
             who have no prior experience with CRM software." </p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>Review 3</h4>
        <p>"It lets them capture leads, manage their contacts’ information, track deals,<br>
             build customer relationships, and more"</p>
      </div>
    </div>
    <br><br>
    <div class="row slideanim slide">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4>Review 4</h4>
        <p>"n excellent monitoring and management tool that provides almost all the functionality "</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>Review 5</h4>
        <p>"A definite breath of fresh air in a crowded market I was previously a client of Bug Dads,<br> and knew it was time to switch. "</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">Review 6</h4>
        <p>"After years of trying App after App, and none exactly fitting what I needed and was looking for,<br> I stumbled upon Bug Dads right when I needed it the most! "</p>
      </div>
    </div>
  </div> 
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


</body>
  <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="container pt-4">
     
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i>
        </a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://twitter.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      
    </div>
    
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="">BugDads.com</a>
    </div>
    
  </footer>
  

</html>