<h3 style="margin-left: 20px"> View Employee Details</h3>
<div>
    <div>
        <label style="margin-left: 20px"> <b> First Name: </b></label> {{user?.firstName}}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Last Name: </b></label> {{user?.lastName}}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> User Name: </b></label> {{user?.userName}}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Id: </b></label> {{user?.userId}}
    </div>
</div>