<br>
<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Ticket ID #{{this.ticket.id}} </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="inputPriority">Priority</label>
                        <select id="priority" class="form-control" [(ngModel)]="ticket.priority" name="priority">
                            <option style="color:rgb(0, 172, 0)">Low</option>
                        <option style="color:orange">Medium</option>
                        <option style="color:red">High</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" id="description" [(ngModel)]="ticket.description"
                            name="description">
                    </div>

                    <div class="form-group">
                        <label>Timestamp</label>
                        <input type="text" class="form-control" id="timestamp" [(ngModel)]="ticket.timestamp"
                            name="timestamp">
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>