<h3 style="margin-left: 20px"> View Ticket Details</h3>
<div>
    <div>
        <label style="margin-left: 20px"> <b> Timestamp: </b></label> {{ticket.timestamp}}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Priority: </b></label> {{ticket.priority}}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Description: </b></label> {{ticket.description}}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Ticket ID: </b></label> {{ticket.id}}
    </div>
</div>