<br>
<div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row1">
      <div class ="userdetails">
        <h3 style="color: white"> User Details </h3>
        </div>
        <div class="card-body">
          <h4 class ="text-center">{{user!.firstName}}&nbsp;&nbsp;{{user!.lastName}}</h4>
            
            <img [src]="url" class="pic">
        
           <table class ="table1">
                
                    <label class = "firstname"> <b>First Name: </b> &nbsp; {{user!.firstName}}</label><br>
              
                  <label class = "lastname"><b>Last Name:</b>&nbsp;{{user!.lastName}} </label><br> 
            
              
                <label class = "username"><b> Username:</b>&nbsp; {{user!.userName}}</label><br>  
           
           
              <label class = "userid"><b> User Id:</b>&nbsp; {{user!.userId}} </label><br>

        </table>
    </div>

</div>