<br>
<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
       <div class="row">
        
<h3 style="text-align: center">Ticket Details</h3>
<hr>
<div>
    <br>
    <div>
        <label style="margin-left: 20px"> <b> Ticket ID: </b></label> {{ticket.id}}
    </div>
    <hr>
    <div>
        <label style="margin-left: 20px"> <b> Priority: </b></label> {{ticket.priority}}
    </div>
    <hr>
    <div>
        <label style="margin-left: 20px"> <b> Timestamp: </b></label> {{ticket.timestamp}}
    </div>
    <hr>
    <div>
        <label style="margin-left: 20px"> <b> Description: </b></label> {{ticket.description}}
    </div>
    <br>
</div>
</div>
</div>
</div>